* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 300px;
  border: solid 20px bisque;
  width: 300px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  padding: 5rem;
  background-color: aqua;
}

.box {
  background-color: rgb(19, 65, 126);
  border: 2px solid bisque;
}
