* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(60, 60, 60);
}

.board {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  min-height: 300px;
  border: solid 5px bisque;
  min-width: 300px;
}

.reset {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(226, 75, 0);
  font-weight: 800;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
  background-color: rgb(247, 123, 28);
  flex-direction: column;
  gap: 10px;
}

.result-message {
  height: 2rem;
}

.box {
  background-color: rgb(226, 75, 0);
  border: 2px solid bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(213, 213, 213);
  font-size: 4rem;
}

.bottom {
  margin-top: auto;
}

.header {
  text-align: center;
  padding: 20px;
}

.players {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.turn-indicator {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}
